<!-- Content for dashboard pages -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="~/favicon.ico" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dashboard POS Sports">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/orders.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/inventory.css" asp-append-version="true" />
    <title> Dashboard </title>
</head>

<body>
    <div class="dashboard-main">
        <div class="dashboard-comp">

            <nav class="navigator">

                <h1> Sports POS </h1>

                <div class="nav-ul">
                    <ul class="link-in">
                        <li class="nav-link">
                            <a asp-controller="Dashboard" asp-action="">
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-link">
                            <a asp-controller="Dashboard" asp-action="Orders">
                                Orders
                            </a>
                        </li>
                        <li class="nav-link">
                            <a asp-controller="Dashboard" asp-action="Accounting">
                                Accounting
                            </a>
                        </li>
                        <li class="nav-link">
                            <a asp-controller="Dashboard" asp-action="Inventory">
                                Inventory
                            </a>
                        </li>
                        <li class="nav-link">
                            <a asp-controller="Dashboard" asp-action="Reports">
                                Reports
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="nav-under">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8 0C9.06087 0 10.0783 0.421427 10.8284 1.17157C11.5786 1.92172 12 2.93913 12 4C12 5.06087 11.5786 6.07828 10.8284 6.82843C10.0783 7.57857 9.06087 8 8 8C6.93913 8 5.92172 7.57857 5.17157 6.82843C4.42143 6.07828 4 5.06087 4 4C4 2.93913 4.42143 1.92172 5.17157 1.17157C5.92172 0.421427 6.93913 0 8 0ZM8 2C7.46957 2 6.96086 2.21071 6.58579 2.58579C6.21071 2.96086 6 3.46957 6 4C6 4.53043 6.21071 5.03914 6.58579 5.41421C6.96086 5.78929 7.46957 6 8 6C8.53043 6 9.03914 5.78929 9.41421 5.41421C9.78929 5.03914 10 4.53043 10 4C10 3.46957 9.78929 2.96086 9.41421 2.58579C9.03914 2.21071 8.53043 2 8 2ZM8 9C10.67 9 16 10.33 16 13V16H0V13C0 10.33 5.33 9 8 9ZM8 10.9C5.03 10.9 1.9 12.36 1.9 13V14.1H14.1V13C14.1 12.36 10.97 10.9 8 10.9Z"
                            fill="white" />
                    </svg>
                    <div class="admin-settings">
                        @await Html.PartialAsync("_LoginPartial");
                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M8.75687 1.66762L8.21782 3.21209C8.16683 3.35818 8.04672 3.46948 7.89717 3.50922C7.40725 3.63939 6.93553 3.83031 6.49298 4.07753C6.35769 4.1531 6.19371 4.15657 6.05535 4.08677L4.5945 3.34978C4.17038 3.68809 3.7824 4.06938 3.43675 4.48754L4.14758 5.9617C4.21484 6.1012 4.20849 6.26499 4.13063 6.39886C3.87857 6.83222 3.67837 7.30003 3.53787 7.79234C3.49547 7.94092 3.38224 8.05887 3.23551 8.10731L1.68157 8.62023C1.62091 9.15925 1.61616 9.70309 1.66739 10.2431L3.21205 10.7822C3.3578 10.8331 3.46894 10.9527 3.50892 11.1018C3.64035 11.5921 3.83147 12.0643 4.078 12.508C4.1531 12.6431 4.15637 12.8066 4.08673 12.9447L3.34974 14.4055C3.68806 14.8296 4.06935 15.2176 4.48751 15.5633L5.96166 14.8524C6.10086 14.7853 6.26426 14.7915 6.398 14.8689C6.83699 15.1231 7.30551 15.3224 7.79304 15.4624C7.9413 15.5049 8.05892 15.618 8.10727 15.7645L8.62021 17.3185C9.15955 17.3792 9.70373 17.384 10.244 17.3327L10.7821 15.7882C10.833 15.642 10.9532 15.5306 11.1028 15.4908C11.5927 15.3607 12.0645 15.1698 12.507 14.9225C12.6423 14.847 12.8063 14.8435 12.9446 14.9133L14.4055 15.6503C14.8296 15.312 15.2176 14.9307 15.5632 14.5125L14.8524 13.0384C14.7853 12.8992 14.7915 12.7358 14.8689 12.602C15.123 12.163 15.3223 11.6945 15.4623 11.207C15.5049 11.0587 15.618 10.9411 15.7645 10.8928L17.3184 10.3798C17.3792 9.84048 17.3839 9.2963 17.3326 8.75598L15.7882 8.21794C15.6424 8.16715 15.5312 8.04751 15.4911 7.8984C15.3572 7.39981 15.1676 6.93172 14.9225 6.49304C14.8469 6.35775 14.8435 6.19375 14.9133 6.05538L15.6502 4.5946C15.3119 4.17068 14.9303 3.78246 14.5124 3.43683L13.0383 4.14761C12.8988 4.21488 12.735 4.20853 12.6012 4.13066C12.1678 3.8786 11.7 3.67841 11.2077 3.5379C11.0591 3.4955 10.9412 3.38227 10.8927 3.23554L10.3798 1.68164C10.0913 1.64938 9.79809 1.6332 9.5 1.6332C9.24897 1.6332 9.00128 1.64469 8.75687 1.66762ZM8.35231 0.774409C8.7293 0.724872 9.11192 0.700195 9.5 0.700195C9.94075 0.700195 10.3742 0.731983 10.8001 0.795826C10.9742 0.821922 11.1188 0.943788 11.1739 1.11095L11.703 2.7136C12.1022 2.84299 12.4863 3.00686 12.8513 3.202L14.3712 2.46911C14.5299 2.39259 14.7182 2.41201 14.8579 2.51932C15.5078 3.01834 16.086 3.60657 16.5737 4.26528C16.6786 4.40694 16.6947 4.59563 16.6153 4.75301L15.8554 6.25921C16.0447 6.62854 16.2006 7.0144 16.3234 7.41638L17.9166 7.9714C18.083 8.02939 18.2026 8.17628 18.2256 8.35105C18.3327 9.16435 18.3255 9.98862 18.2042 10.7999C18.1782 10.9741 18.0563 11.1188 17.8891 11.174L16.286 11.7031C16.1571 12.0992 15.9938 12.4833 15.7978 12.8509L16.5309 14.3712C16.6074 14.5299 16.588 14.7181 16.4808 14.8578C15.9815 15.5084 15.3938 16.086 14.7347 16.5738C14.593 16.6787 14.4044 16.6947 14.247 16.6153L12.7408 15.8555C12.3697 16.0457 11.9824 16.2025 11.5835 16.3239L11.0286 17.9166C10.9706 18.0831 10.8237 18.2026 10.649 18.2256C9.83567 18.3327 9.0114 18.3255 8.2001 18.2043C8.02593 18.1782 7.88125 18.0563 7.82605 17.8891L7.29691 16.2861C6.9008 16.1571 6.51674 15.9938 6.14914 15.7978L4.6288 16.5309C4.47014 16.6074 4.28192 16.5881 4.14218 16.4808C3.49162 15.9816 2.91405 15.3938 2.42621 14.7347C2.32137 14.593 2.30531 14.4044 2.38469 14.2471L3.1448 12.7404C2.95524 12.3692 2.79859 11.9821 2.67663 11.5835L1.08318 11.0274C0.916817 10.9693 0.797367 10.8225 0.774386 10.6478C0.667452 9.8349 0.674645 9.01106 0.795757 8.20017C0.821773 8.02598 0.94367 7.88129 1.11091 7.82609L2.71357 7.29707C2.84296 6.89786 3.00683 6.51368 3.20196 6.14873L2.46908 4.62884C2.39258 4.47017 2.41196 4.28195 2.5192 4.14221C3.01845 3.49166 3.60618 2.91408 4.26534 2.42624C4.40699 2.32141 4.59563 2.30534 4.75297 2.38472L6.25916 3.14458C6.6303 2.95433 7.01768 2.79756 7.41668 2.67614L7.97265 1.08321C8.03072 0.916827 8.17759 0.797369 8.35231 0.774409Z"
                                fill="white" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M9.50014 6.42859C7.80384 6.42859 6.42871 7.80371 6.42871 9.50002C6.42871 11.1963 7.80384 12.5714 9.50014 12.5714C11.1964 12.5714 12.5716 11.1963 12.5716 9.50002C12.5716 7.80371 11.1964 6.42859 9.50014 6.42859ZM5.42871 9.50002C5.42871 7.25143 7.25155 5.42859 9.50014 5.42859C11.7487 5.42859 13.5716 7.25143 13.5716 9.50002C13.5716 11.7486 11.7487 13.5714 9.50014 13.5714C7.25155 13.5714 5.42871 11.7486 5.42871 9.50002Z"
                                fill="white" />
                        </svg>
                    </div>
                </div>
            </nav>
            @RenderBody();
        </div>
    </div>
</body>

</html>

@* @await RenderSectionAsync("Scripts", required: false) *@