@model SportsCapstone.Models.LoginViewModel

@{
    @* Layout = null; // This removes the shared layout for this page *@
}

<html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="~/favicon.ico" />
    <meta name="description" content="Login POS Sports">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />
    <title> Login </title>
</head>

<body>
    <div class="admin-login-comp">
        <div class="admin-login-comp2">
            <div class="auth-form">
                <h1> Admin Login </h1>
                <form asp-action="Login" method="post">
                    <div asp-validation-summary="ModelOnly"
                        class="text-danger d-flex align-items-center justify-content-center w-100"></div>
                    @if (@ViewBag.Message != null)
                    {
                        <div class="form-group" style="color: green">
                            @ViewBag.Message
                        </div>
                    }
                    <div class="inputs">
                        <div class="inp-auth">
                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M16.875 9C16.875 10.1935 16.4009 11.3381 15.557 12.182C14.7131 13.0259 13.5685 13.5 12.375 13.5C11.1815 13.5 10.0369 13.0259 9.19302 12.182C8.34911 11.3381 7.875 10.1935 7.875 9C7.875 7.80653 8.34911 6.66193 9.19302 5.81802C10.0369 4.97411 11.1815 4.5 12.375 4.5C13.5685 4.5 14.7131 4.97411 15.557 5.81802C16.4009 6.66193 16.875 7.80653 16.875 9ZM14.625 9C14.625 9.59674 14.3879 10.169 13.966 10.591C13.544 11.0129 12.9717 11.25 12.375 11.25C11.7783 11.25 11.206 11.0129 10.784 10.591C10.3621 10.169 10.125 9.59674 10.125 9C10.125 8.40326 10.3621 7.83097 10.784 7.40901C11.206 6.98705 11.7783 6.75 12.375 6.75C12.9717 6.75 13.544 6.98705 13.966 7.40901C14.3879 7.83097 14.625 8.40326 14.625 9Z"
                                    fill="black" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12.375 0C5.54063 0 0 5.54063 0 12.375C0 19.2094 5.54063 24.75 12.375 24.75C19.2094 24.75 24.75 19.2094 24.75 12.375C24.75 5.54063 19.2094 0 12.375 0ZM2.25 12.375C2.25 14.7262 3.05212 16.8907 4.3965 18.6097C5.34087 17.3701 6.55892 16.3655 7.95559 15.6743C9.35226 14.9831 10.8898 14.624 12.4481 14.625C13.9864 14.6232 15.5048 14.9727 16.8875 15.6469C18.2702 16.3211 19.4807 17.3022 20.4266 18.5153C21.4014 17.2368 22.0577 15.7446 22.3413 14.1622C22.6248 12.5797 22.5275 10.9525 22.0573 9.41511C21.5871 7.87774 20.7576 6.47443 19.6374 5.32129C18.5172 4.16816 17.1385 3.29834 15.6154 2.78382C14.0923 2.2693 12.4686 2.12487 10.8786 2.36247C9.28859 2.60007 7.77802 3.21288 6.47187 4.15019C5.16572 5.08749 4.10154 6.32235 3.36738 7.7526C2.63323 9.18284 2.2502 10.7673 2.25 12.375ZM12.375 22.5C10.0506 22.5038 7.79641 21.7041 5.994 20.2365C6.71941 19.1977 7.68509 18.3495 8.80884 17.7643C9.93258 17.179 11.1811 16.8739 12.4481 16.875C13.6993 16.8739 14.9327 17.1714 16.0459 17.7427C17.159 18.3141 18.1197 19.1428 18.8482 20.16C17.0319 21.6754 14.7405 22.5037 12.375 22.5Z"
                                    fill="black" />
                            </svg>
                            <label for="UserNameOrEmail" class="control-label">User / Email</label>
                            <input asp-for="UserNameOrEmail" type="text" placeholder="User / Email">
                            <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
                        </div>
                        <div class="inp-auth">
                            <svg width="19" height="24" viewBox="0 0 19 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M9.5 18.125C8.90326 18.125 8.33097 17.8879 7.90901 17.466C7.48705 17.044 7.25 16.4717 7.25 15.875C7.25 14.6263 8.25125 13.625 9.5 13.625C10.0967 13.625 10.669 13.8621 11.091 14.284C11.5129 14.706 11.75 15.2783 11.75 15.875C11.75 16.4717 11.5129 17.044 11.091 17.466C10.669 17.8879 10.0967 18.125 9.5 18.125ZM16.25 21.5V10.25H2.75V21.5H16.25ZM16.25 8C16.8467 8 17.419 8.23705 17.841 8.65901C18.2629 9.08097 18.5 9.65326 18.5 10.25V21.5C18.5 22.0967 18.2629 22.669 17.841 23.091C17.419 23.5129 16.8467 23.75 16.25 23.75H2.75C2.15326 23.75 1.58097 23.5129 1.15901 23.091C0.737053 22.669 0.5 22.0967 0.5 21.5V10.25C0.5 9.00125 1.50125 8 2.75 8H3.875V5.75C3.875 4.25816 4.46763 2.82742 5.52252 1.77252C6.57742 0.717632 8.00816 0.125 9.5 0.125C10.2387 0.125 10.9701 0.270495 11.6526 0.553178C12.3351 0.83586 12.9551 1.25019 13.4775 1.77252C13.9998 2.29485 14.4141 2.91495 14.6968 3.59741C14.9795 4.27986 15.125 5.01131 15.125 5.75V8H16.25ZM9.5 2.375C8.60489 2.375 7.74645 2.73058 7.11351 3.36351C6.48058 3.99645 6.125 4.85489 6.125 5.75V8H12.875V5.75C12.875 4.85489 12.5194 3.99645 11.8865 3.36351C11.2536 2.73058 10.3951 2.375 9.5 2.375Z"
                                    fill="black" />
                            </svg>
                            <label asp-for="Password" class="control-label"></label>
                            <input type="password" asp-for="Password" placeholder="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="inp-affirm">
                        <button>
                            <a asp-controller="Account" asp-action="Registration">
                                Register
                            </a>
                        </button>
                        <button type="submit">
                            Login Account
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}