@{
    Layout = "_DashboardLayout";
}

<div class="dashboard-body">
    <div class="all-nav-details">
        <div class="box-det">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M9.003 18C7.759 18 6.589 17.764 5.493 17.292C4.39767 16.8193 3.44467 16.178 2.634 15.368C1.82333 14.558 1.18167 13.606 0.709 12.512C0.236333 11.418 0 10.2483 0 9.003C0 7.75767 0.236333 6.58767 0.709 5.493C1.181 4.39767 1.82133 3.44467 2.63 2.634C3.43867 1.82333 4.391 1.18167 5.487 0.709C6.583 0.236333 7.753 0 8.997 0C10.241 0 11.411 0.236333 12.507 0.709C13.6023 1.181 14.5553 1.82167 15.366 2.631C16.1767 3.44033 16.8183 4.39267 17.291 5.488C17.7637 6.58333 18 7.753 18 8.997C18 10.241 17.764 11.411 17.292 12.507C16.82 13.603 16.1787 14.556 15.368 15.366C14.5573 16.176 13.6053 16.8177 12.512 17.291C11.4187 17.7643 10.249 18.0007 9.003 18ZM9 17C11.2333 17 13.125 16.225 14.675 14.675C16.225 13.125 17 11.2333 17 9C17 6.76667 16.225 4.875 14.675 3.325C13.125 1.775 11.2333 1 9 1C6.76667 1 4.875 1.775 3.325 3.325C1.775 4.875 1 6.76667 1 9C1 11.2333 1.775 13.125 3.325 14.675C4.875 16.225 6.76667 17 9 17ZM5.616 12.385V10.175L10.948 4.867C11.0467 4.78167 11.1487 4.71833 11.254 4.677C11.3587 4.63633 11.4637 4.616 11.569 4.616C11.683 4.616 11.7953 4.63733 11.906 4.68C12.0167 4.72267 12.1173 4.787 12.208 4.873L13.133 5.817C13.215 5.91633 13.2773 6.019 13.32 6.125C13.3633 6.23167 13.385 6.33833 13.385 6.445C13.385 6.551 13.3643 6.658 13.323 6.766C13.2817 6.874 13.2183 6.97767 13.133 7.077L7.825 12.385H5.616ZM6.5 11.5H7.45L10.917 8.027L10.467 7.532L9.992 7.064L6.5 10.55V11.5ZM10.467 7.532L9.992 7.063L10.917 8.027L10.467 7.532Z"
                    fill="black" />
            </svg>
            <h4> Orders </h4>
            <svg class="link-svg" width="18" height="18" viewBox="0 0 18 18" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M9 12.289L12.288 9L9 5.711L8.312 6.4L10.412 8.5H5.5V9.5H10.412L8.312 11.6L9 12.289ZM9.003 18C7.75833 18 6.58833 17.764 5.493 17.292C4.39767 16.8193 3.44467 16.178 2.634 15.368C1.82333 14.558 1.18167 13.606 0.709 12.512C0.236333 11.418 0 10.2483 0 9.003C0 7.75767 0.236333 6.58767 0.709 5.493C1.181 4.39767 1.82133 3.44467 2.63 2.634C3.43867 1.82333 4.391 1.18167 5.487 0.709C6.583 0.236333 7.753 0 8.997 0C10.241 0 11.411 0.236333 12.507 0.709C13.6023 1.181 14.5553 1.82167 15.366 2.631C16.1767 3.44033 16.8183 4.39267 17.291 5.488C17.7637 6.58333 18 7.753 18 8.997C18 10.241 17.764 11.411 17.292 12.507C16.82 13.603 16.1787 14.556 15.368 15.366C14.5573 16.176 13.6053 16.8177 12.512 17.291C11.4187 17.7643 10.249 18.0007 9.003 18ZM9 17C11.2333 17 13.125 16.225 14.675 14.675C16.225 13.125 17 11.2333 17 9C17 6.76667 16.225 4.875 14.675 3.325C13.125 1.775 11.2333 1 9 1C6.76667 1 4.875 1.775 3.325 3.325C1.775 4.875 1 6.76667 1 9C1 11.2333 1.775 13.125 3.325 14.675C4.875 16.225 6.76667 17 9 17Z"
                    fill="black" />
            </svg>
        </div>
        <div class="box-det">
            <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M14 13V15H0V13C0 13 0 8.99998 7 8.99998C14 8.99998 14 13 14 13ZM10.5 3.49998C10.5 2.80774 10.2947 2.13105 9.91014 1.55548C9.52556 0.979908 8.97893 0.531304 8.33939 0.266398C7.69985 0.00149086 6.99612 -0.0678208 6.31718 0.0672274C5.63825 0.202276 5.01461 0.535618 4.52513 1.0251C4.03564 1.51459 3.7023 2.13823 3.56725 2.81716C3.4322 3.49609 3.50152 4.19983 3.76642 4.83937C4.03133 5.47891 4.47993 6.02553 5.0555 6.41012C5.63108 6.7947 6.30777 6.99998 7 6.99998C7.92826 6.99998 8.8185 6.63123 9.47487 5.97485C10.1313 5.31847 10.5 4.42823 10.5 3.49998ZM13.94 8.99998C14.5547 9.47572 15.0578 10.0804 15.4137 10.7715C15.7696 11.4626 15.9697 12.2232 16 13V15H20V13C20 13 20 9.36998 13.94 8.99998ZM13 -2.42387e-05C12.3118 -0.00322538 11.6388 0.202507 11.07 0.589976C11.6774 1.43871 12.0041 2.45626 12.0041 3.49998C12.0041 4.54369 11.6774 5.56124 11.07 6.40998C11.6388 6.79744 12.3118 7.00318 13 6.99998C13.9283 6.99998 14.8185 6.63123 15.4749 5.97485C16.1313 5.31847 16.5 4.42823 16.5 3.49998C16.5 2.57172 16.1313 1.68148 15.4749 1.0251C14.8185 0.368725 13.9283 -2.42387e-05 13 -2.42387e-05Z"
                    fill="black" />
            </svg>
            <h4> Accounts </h4>
            <svg class="link-svg" width="18" height="18" viewBox="0 0 18 18" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M9 12.289L12.288 9L9 5.711L8.312 6.4L10.412 8.5H5.5V9.5H10.412L8.312 11.6L9 12.289ZM9.003 18C7.75833 18 6.58833 17.764 5.493 17.292C4.39767 16.8193 3.44467 16.178 2.634 15.368C1.82333 14.558 1.18167 13.606 0.709 12.512C0.236333 11.418 0 10.2483 0 9.003C0 7.75767 0.236333 6.58767 0.709 5.493C1.181 4.39767 1.82133 3.44467 2.63 2.634C3.43867 1.82333 4.391 1.18167 5.487 0.709C6.583 0.236333 7.753 0 8.997 0C10.241 0 11.411 0.236333 12.507 0.709C13.6023 1.181 14.5553 1.82167 15.366 2.631C16.1767 3.44033 16.8183 4.39267 17.291 5.488C17.7637 6.58333 18 7.753 18 8.997C18 10.241 17.764 11.411 17.292 12.507C16.82 13.603 16.1787 14.556 15.368 15.366C14.5573 16.176 13.6053 16.8177 12.512 17.291C11.4187 17.7643 10.249 18.0007 9.003 18ZM9 17C11.2333 17 13.125 16.225 14.675 14.675C16.225 13.125 17 11.2333 17 9C17 6.76667 16.225 4.875 14.675 3.325C13.125 1.775 11.2333 1 9 1C6.76667 1 4.875 1.775 3.325 3.325C1.775 4.875 1 6.76667 1 9C1 11.2333 1.775 13.125 3.325 14.675C4.875 16.225 6.76667 17 9 17Z"
                    fill="black" />
            </svg>
        </div>
        <div class="box-det">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M2.616 18C2.168 18 1.78667 17.8427 1.472 17.528C1.15733 17.2133 1 16.8323 1 16.385V5.263C0.713333 5.14433 0.475 4.952 0.285 4.686C0.0950001 4.41933 0 4.11367 0 3.769V1.615C0 1.16833 0.157333 0.787333 0.472 0.472C0.786667 0.157333 1.168 0 1.616 0H16.385C16.8317 0 17.2127 0.157333 17.528 0.472C17.8427 0.786667 18 1.168 18 1.616V3.769C18 4.11367 17.905 4.419 17.715 4.685C17.5257 4.95167 17.2873 5.14433 17 5.263V16.385C17 16.8317 16.8427 17.2127 16.528 17.528C16.2133 17.8427 15.8323 18 15.385 18H2.616ZM2 5.385V16.289C2 16.4937 2.07367 16.6633 2.221 16.798C2.36833 16.9327 2.55133 17 2.77 17H15.386C15.5653 17 15.7127 16.9423 15.828 16.827C15.9433 16.7117 16.001 16.5643 16.001 16.385V5.385H2ZM1.615 4.385H16.385C16.5643 4.385 16.7117 4.32733 16.827 4.212C16.9423 4.09667 17 3.949 17 3.769V1.616C17 1.436 16.9423 1.28833 16.827 1.173C16.7117 1.05767 16.564 1 16.384 1H1.616C1.436 1 1.28833 1.05767 1.173 1.173C1.05767 1.28833 1 1.436 1 1.616V3.769C1 3.949 1.05767 4.09633 1.173 4.211C1.28833 4.32633 1.436 4.384 1.616 4.384M6.385 9.866H11.615V9H6.385V9.866Z"
                    fill="black" />
            </svg>
            <h4> Inventory </h4>
            <svg class="link-svg" width="18" height="18" viewBox="0 0 18 18" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M9 12.289L12.288 9L9 5.711L8.312 6.4L10.412 8.5H5.5V9.5H10.412L8.312 11.6L9 12.289ZM9.003 18C7.75833 18 6.58833 17.764 5.493 17.292C4.39767 16.8193 3.44467 16.178 2.634 15.368C1.82333 14.558 1.18167 13.606 0.709 12.512C0.236333 11.418 0 10.2483 0 9.003C0 7.75767 0.236333 6.58767 0.709 5.493C1.181 4.39767 1.82133 3.44467 2.63 2.634C3.43867 1.82333 4.391 1.18167 5.487 0.709C6.583 0.236333 7.753 0 8.997 0C10.241 0 11.411 0.236333 12.507 0.709C13.6023 1.181 14.5553 1.82167 15.366 2.631C16.1767 3.44033 16.8183 4.39267 17.291 5.488C17.7637 6.58333 18 7.753 18 8.997C18 10.241 17.764 11.411 17.292 12.507C16.82 13.603 16.1787 14.556 15.368 15.366C14.5573 16.176 13.6053 16.8177 12.512 17.291C11.4187 17.7643 10.249 18.0007 9.003 18ZM9 17C11.2333 17 13.125 16.225 14.675 14.675C16.225 13.125 17 11.2333 17 9C17 6.76667 16.225 4.875 14.675 3.325C13.125 1.775 11.2333 1 9 1C6.76667 1 4.875 1.775 3.325 3.325C1.775 4.875 1 6.76667 1 9C1 11.2333 1.775 13.125 3.325 14.675C4.875 16.225 6.76667 17 9 17Z"
                    fill="black" />
            </svg>
        </div>
        <div class="box-det">
            <svg width="22" height="14" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M11 10.375C11.6675 10.375 12.32 10.1771 12.875 9.80621C13.4301 9.43536 13.8626 8.90826 14.1181 8.29156C14.3735 7.67486 14.4404 6.99626 14.3102 6.34157C14.1799 5.68688 13.8585 5.08552 13.3865 4.61351C12.9145 4.14151 12.3131 3.82007 11.6584 3.68985C11.0037 3.55962 10.3251 3.62646 9.70844 3.88191C9.09174 4.13735 8.56464 4.56993 8.19379 5.12495C7.82294 5.67997 7.625 6.33249 7.625 7C7.625 7.89511 7.98058 8.75355 8.61351 9.38649C9.24645 10.0194 10.1049 10.375 11 10.375ZM11 4.375C11.5192 4.375 12.0267 4.52895 12.4584 4.81739C12.8901 5.10583 13.2265 5.5158 13.4252 5.99546C13.6239 6.47511 13.6758 7.00291 13.5746 7.51211C13.4733 8.02131 13.2233 8.48904 12.8562 8.85616C12.489 9.22327 12.0213 9.47328 11.5121 9.57456C11.0029 9.67585 10.4751 9.62386 9.99546 9.42518C9.5158 9.2265 9.10583 8.89005 8.81739 8.45837C8.52895 8.02669 8.375 7.51918 8.375 7C8.375 6.30381 8.65156 5.63613 9.14384 5.14384C9.63613 4.65156 10.3038 4.375 11 4.375ZM21.5 0.625H0.5C0.400544 0.625 0.305161 0.664509 0.234835 0.734835C0.164509 0.805161 0.125 0.900544 0.125 1V13C0.125 13.0995 0.164509 13.1948 0.234835 13.2652C0.305161 13.3355 0.400544 13.375 0.5 13.375H21.5C21.5995 13.375 21.6948 13.3355 21.7652 13.2652C21.8355 13.1948 21.875 13.0995 21.875 13V1C21.875 0.900544 21.8355 0.805161 21.7652 0.734835C21.6948 0.664509 21.5995 0.625 21.5 0.625ZM0.875 5.05562C1.77002 4.84494 2.58857 4.38891 3.23874 3.73874C3.88891 3.08857 4.34494 2.27002 4.55562 1.375H17.4444C17.6551 2.27002 18.1111 3.08857 18.7613 3.73874C19.4114 4.38891 20.23 4.84494 21.125 5.05562V8.94438C20.23 9.15506 19.4114 9.61109 18.7613 10.2613C18.1111 10.9114 17.6551 11.73 17.4444 12.625H4.55562C4.34494 11.73 3.88891 10.9114 3.23874 10.2613C2.58857 9.61109 1.77002 9.15506 0.875 8.94438V5.05562ZM21.125 4.28125C20.4322 4.08642 19.801 3.71682 19.2921 3.20791C18.7832 2.699 18.4136 2.06784 18.2188 1.375H21.125V4.28125ZM3.78125 1.375C3.58642 2.06784 3.21682 2.699 2.70791 3.20791C2.199 3.71682 1.56784 4.08642 0.875 4.28125V1.375H3.78125ZM0.875 9.71875C1.56784 9.91358 2.199 10.2832 2.70791 10.7921C3.21682 11.301 3.58642 11.9322 3.78125 12.625H0.875V9.71875ZM18.2188 12.625C18.4136 11.9322 18.7832 11.301 19.2921 10.7921C19.801 10.2832 20.4322 9.91358 21.125 9.71875V12.625H18.2188Z"
                    fill="black" />
            </svg>
            <h4> Total Income </h4>
            <svg class="link-svg" width="18" height="18" viewBox="0 0 18 18" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M9 12.289L12.288 9L9 5.711L8.312 6.4L10.412 8.5H5.5V9.5H10.412L8.312 11.6L9 12.289ZM9.003 18C7.75833 18 6.58833 17.764 5.493 17.292C4.39767 16.8193 3.44467 16.178 2.634 15.368C1.82333 14.558 1.18167 13.606 0.709 12.512C0.236333 11.418 0 10.2483 0 9.003C0 7.75767 0.236333 6.58767 0.709 5.493C1.181 4.39767 1.82133 3.44467 2.63 2.634C3.43867 1.82333 4.391 1.18167 5.487 0.709C6.583 0.236333 7.753 0 8.997 0C10.241 0 11.411 0.236333 12.507 0.709C13.6023 1.181 14.5553 1.82167 15.366 2.631C16.1767 3.44033 16.8183 4.39267 17.291 5.488C17.7637 6.58333 18 7.753 18 8.997C18 10.241 17.764 11.411 17.292 12.507C16.82 13.603 16.1787 14.556 15.368 15.366C14.5573 16.176 13.6053 16.8177 12.512 17.291C11.4187 17.7643 10.249 18.0007 9.003 18ZM9 17C11.2333 17 13.125 16.225 14.675 14.675C16.225 13.125 17 11.2333 17 9C17 6.76667 16.225 4.875 14.675 3.325C13.125 1.775 11.2333 1 9 1C6.76667 1 4.875 1.775 3.325 3.325C1.775 4.875 1 6.76667 1 9C1 11.2333 1.775 13.125 3.325 14.675C4.875 16.225 6.76667 17 9 17Z"
                    fill="black" />
            </svg>
        </div>
    </div>
    <section class="search-section">
        <input type="text" placeholder="Search..." name="search">
    </section>

    <section class="date-in-order">
        <div class="order-pages">
            <h1> Current Orders </h1>
            <div class="paging-buttons">
                <svg width="5" height="10" viewBox="0 0 5 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 0L0 5L5 10L5 0Z" fill="white" />
                </svg>
                <input type="text" placeholder="1" readonly name="paging">
                <svg width="5" height="10" viewBox="0 0 5 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 10L5 5L0 0V10Z" fill="white" />
                </svg>
            </div>
        </div>


        <div class="list-of-orders">
            <div class="item-order">
                <div class="item-blocks">
                    <div class="item-dc">
                        <h4> ID </h4>
                    </div>
                </div>
                <div class="item-blocks">
                    <div class="item-dc">
                        <h4> Prod. Name </h4>
                    </div>
                </div>
                <div class="item-blocks">
                    <div class="item-dc">
                        <h4> Prod. Brand </h4>
                    </div>
                </div>
                <div class="item-blocks">
                    <div class="item-dc">
                        <h4> Quantity </h4>
                    </div>
                </div>
                <div class="item-blocks">
                    <div class="item-dc">
                        <h4> Price </h4>
                    </div>
                </div>
            </div>
            <div class="item-order">
                <div class="item-blocks">
                    <div class="item-dc">
                        <h4> ID </h4>
                    </div>
                </div>
                <div class="item-blocks">
                    <div class="item-dc">
                        <h4> Prod. Name </h4>
                    </div>
                </div>
                <div class="item-blocks">
                    <div class="item-dc">
                        <h4> Prod. Brand </h4>
                    </div>
                </div>
                <div class="item-blocks">
                    <div class="item-dc">
                        <h4> Quantity </h4>
                    </div>
                </div>
                <div class="item-blocks">
                    <div class="item-dc">
                        <h4> Price </h4>
                    </div>
                </div>
            </div>
            <div class="item-order">
                <div class="item-blocks">
                    <div class="item-dc">
                        <h4> ID </h4>
                    </div>
                </div>
                <div class="item-blocks">
                    <div class="item-dc">
                        <h4> Prod. Name </h4>
                    </div>
                </div>
                <div class="item-blocks">
                    <div class="item-dc">
                        <h4> Prod. Brand </h4>
                    </div>
                </div>
                <div class="item-blocks">
                    <div class="item-dc">
                        <h4> Quantity </h4>
                    </div>
                </div>
                <div class="item-blocks">
                    <div class="item-dc">
                        <h4> Price </h4>
                    </div>
                </div>
            </div>
            <div class="item-order">
                <div class="item-blocks">
                    <div class="item-dc">
                        <h4> ID </h4>
                    </div>
                </div>
                <div class="item-blocks">
                    <div class="item-dc">
                        <h4> Prod. Name </h4>
                    </div>
                </div>
                <div class="item-blocks">
                    <div class="item-dc">
                        <h4> Prod. Brand </h4>
                    </div>
                </div>
                <div class="item-blocks">
                    <div class="item-dc">
                        <h4> Quantity </h4>
                    </div>
                </div>
                <div class="item-blocks">
                    <div class="item-dc">
                        <h4> Price </h4>
                    </div>
                </div>
            </div>
        </div>


    </section>

</div>

<div class="order-process">
    <div class="title">
        <h1> Graph Data Orders </h1>
    </div>
    <div class="circle-graph">
        <div class="circle">
            <div class="circle-ab1"></div>
            <div class="circle-ab2"></div>
        </div>
    </div>
    <div class="circle-graph-text">
        <div class="txt-gr">
            <div class="line red"></div>
            <h4> Cloths </h4>
            <h4> 20% </h4>
        </div>

        <div class="txt-gr">
            <div class="line blue"></div>
            <h4> Pants / Shorts </h4>
            <h4> 20% </h4>
        </div>

        <div class="txt-gr">
            <div class="line yellow"></div>
            <h4> Accessories </h4>
            <h4> 60% </h4>
        </div>
    </div>
    <div class="box-graph">
        <div class="box-NA"></div>
        <div class="box-CA"></div>
        <div class="box-NA1"></div>
        <div class="box-CA1"></div>
    </div>
    <div class="kid_adults">
        <h3 class="ty-1"> Kids </h3>
        <span class="line"></span>
        <h3 class="ty-2"> Adults </h3>
    </div>
</div>
