@{
    Layout = "_DashboardLayout";
}

<div class="dashboard-body orders">
    <div class="brand-ord">
        <div class="box-det">
            <div class="sp-1">
                <svg width="28" height="21" viewBox="0 0 28 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M27.4163 3.85002C27.4643 4.02402 27.4037 4.21602 27.3023 4.36602L24.0683 9.17802C23.9483 9.36402 23.6963 9.46602 23.4857 9.46602C23.4257 9.46602 23.2577 9.45402 23.1923 9.43602L20.6003 8.80002V20.2C20.6003 20.548 20.3543 20.8 20.0003 20.8H7.40029C7.04629 20.8 6.80029 20.548 6.80029 20.2V8.80002L4.47229 9.44202C4.20229 9.52602 3.96828 9.41802 3.81828 9.18402L0.608285 4.38402C0.506285 4.22802 0.476285 4.05402 0.524285 3.88002C0.566285 3.70002 0.692285 3.58002 0.854285 3.49602L7.40029 0.400024H10.4003C10.7543 0.400024 11.0003 0.646024 11.0003 1.00002C11.0003 2.23602 12.7343 3.11202 13.9703 3.11202C15.2063 3.11202 17.0003 2.24202 17.0003 1.00002C17.0003 0.652024 17.2463 0.400024 17.6003 0.400024H20.6003L27.0803 3.43602C27.2483 3.52002 27.3683 3.67002 27.4163 3.85002Z"
                        fill="black" />
                </svg>
                <h4> Cloths </h4>
            </div>

            <div class="sp-2">
                <h4> 100 Items </h4>
                <div class="circ">
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.5 0H6.5L6.5 12H4.5V14L6.5 14V16L8.5 16V14H10.5V12H8.5L8.5 0ZM12.5 10V12H10.5V10H12.5ZM12.5 10V8H14.5L14.5 10H12.5ZM2.5 10V12L4.5 12V10L2.5 10ZM2.5 10L2.5 8H0.5L0.5 10H2.5Z"
                            fill="black" />
                    </svg>
                </div>
            </div>
        </div>

        <div class="box-det">
            <div class="sp-1">
                <svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M21.771 22.1379L19.1929 1.51289C19.1504 1.17276 18.985 0.859896 18.728 0.633092C18.471 0.406288 18.14 0.281168 17.7972 0.28125H4.20346C3.86068 0.281168 3.52968 0.406288 3.27266 0.633092C3.01565 0.859896 2.85032 1.17276 2.80776 1.51289L0.229633 22.1379C0.204869 22.3358 0.222483 22.5367 0.281306 22.7273C0.340129 22.9178 0.438816 23.0937 0.570814 23.2432C0.702813 23.3927 0.865104 23.5124 1.04691 23.5944C1.22872 23.6764 1.42589 23.7188 1.62534 23.7188H6.39369C6.70681 23.7189 7.01102 23.6145 7.25812 23.4222C7.50521 23.2299 7.68104 22.9606 7.75776 22.657L11.0003 10.125L14.2429 22.657C14.3196 22.9606 14.4955 23.2299 14.7426 23.4222C14.9896 23.6145 15.2939 23.7189 15.607 23.7188H20.3753C20.5748 23.7188 20.7719 23.6764 20.9538 23.5944C21.1356 23.5124 21.2979 23.3927 21.4299 23.2432C21.5619 23.0937 21.6605 22.9178 21.7194 22.7273C21.7782 22.5367 21.7958 22.3358 21.771 22.1379ZM19.1472 8.70703C18.1623 8.63887 17.2325 8.22744 16.5196 7.54437C15.8068 6.8613 15.3561 5.94987 15.246 4.96875H18.6796L19.1472 8.70703ZM4.20346 1.21875H17.7972C17.912 1.21785 18.0232 1.25911 18.1096 1.33472C18.196 1.41032 18.2516 1.515 18.266 1.62891L18.5624 4.03125H3.43823L3.73471 1.62891C3.74906 1.515 3.80471 1.41032 3.89111 1.33472C3.97751 1.25911 4.08866 1.21785 4.20346 1.21875ZM3.32104 4.96875H6.75463C6.64455 5.94987 6.19386 6.8613 5.48103 7.54437C4.7682 8.22744 3.83838 8.63887 2.85346 8.70703L3.32104 4.96875ZM6.84838 22.4297C6.82237 22.5304 6.76356 22.6197 6.68124 22.6833C6.59892 22.747 6.49776 22.7814 6.39369 22.7812H1.62534C1.55852 22.7818 1.49237 22.768 1.43131 22.7409C1.37025 22.7137 1.3157 22.6739 1.27131 22.6239C1.22692 22.574 1.19372 22.5151 1.17393 22.4513C1.15415 22.3875 1.14823 22.3202 1.15659 22.2539L2.7351 9.65625C3.99097 9.61272 5.18784 9.11259 6.10129 8.24962C7.01474 7.38665 7.58204 6.22012 7.69682 4.96875H10.5316V8.19023L6.84838 22.4297ZM20.7269 22.623C20.6829 22.6728 20.6287 22.7127 20.5681 22.74C20.5075 22.7672 20.4418 22.7813 20.3753 22.7812H15.607C15.5018 22.7813 15.3996 22.746 15.3169 22.6809C15.2342 22.6159 15.1758 22.5249 15.1511 22.4227L11.4691 8.19023V4.96875H14.3039C14.4186 6.22012 14.9859 7.38665 15.8994 8.24962C16.8128 9.11259 18.0097 9.61272 19.2656 9.65625L20.8441 22.2539C20.852 22.3202 20.8456 22.3875 20.8254 22.4511C20.8052 22.5148 20.7716 22.5734 20.7269 22.623Z"
                        fill="black" />
                </svg>
                <h4> Pants / Short </h4>
            </div>

            <div class="sp-2">
                <h4> 100 Items </h4>
                <div class="circ">
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.5 0H6.5L6.5 12H4.5V14L6.5 14V16L8.5 16V14H10.5V12H8.5L8.5 0ZM12.5 10V12H10.5V10H12.5ZM12.5 10V8H14.5L14.5 10H12.5ZM2.5 10V12L4.5 12V10L2.5 10ZM2.5 10L2.5 8H0.5L0.5 10H2.5Z"
                            fill="black" />
                    </svg>
                </div>
            </div>
        </div>

        <div class="box-det">
            <div class="sp-1">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M4.02 23.25C3.46 23.25 2.98333 23.0533 2.59 22.66C2.19667 22.2667 2 21.7904 2 21.2313V7.32875C1.64167 7.18042 1.34375 6.94 1.10625 6.6075C0.86875 6.27417 0.75 5.89208 0.75 5.46125V2.76875C0.75 2.21042 0.946667 1.73417 1.34 1.34C1.73333 0.946667 2.21 0.75 2.77 0.75H21.2313C21.7896 0.75 22.2658 0.946667 22.66 1.34C23.0533 1.73333 23.25 2.21 23.25 2.77V5.46125C23.25 5.89208 23.1312 6.27375 22.8937 6.60625C22.6571 6.93958 22.3592 7.18042 22 7.32875V21.2313C22 21.7896 21.8033 22.2658 21.41 22.66C21.0167 23.0533 20.5404 23.25 19.9813 23.25H4.02ZM3.25 7.48125V21.1112C3.25 21.3671 3.34208 21.5792 3.52625 21.7475C3.71042 21.9158 3.93917 22 4.2125 22H19.9825C20.2067 22 20.3908 21.9279 20.535 21.7837C20.6792 21.6396 20.7512 21.4554 20.7512 21.2313V7.48125H3.25ZM2.76875 6.23125H21.2313C21.4554 6.23125 21.6396 6.15917 21.7837 6.015C21.9279 5.87083 22 5.68625 22 5.46125V2.77C22 2.545 21.9279 2.36042 21.7837 2.21625C21.6396 2.07208 21.455 2 21.23 2H2.77C2.545 2 2.36042 2.07208 2.21625 2.21625C2.07208 2.36042 2 2.545 2 2.77V5.46125C2 5.68625 2.07208 5.87042 2.21625 6.01375C2.36042 6.15792 2.545 6.23 2.77 6.23M9.28375 13.0825H14.74C14.9025 13.0825 15.0313 13.0304 15.1263 12.9263C15.2221 12.8229 15.27 12.6904 15.27 12.5288C15.27 12.3671 15.2221 12.2387 15.1263 12.1437C15.0304 12.0487 14.9017 12.0008 14.74 12H9.26C9.09833 12 8.96958 12.0479 8.87375 12.1437C8.77875 12.2387 8.73125 12.3671 8.73125 12.5288C8.73125 12.6904 8.78292 12.8229 8.88625 12.9263C8.98958 13.0296 9.12208 13.0817 9.28375 13.0825Z"
                        fill="black" />
                </svg>
                <h4> Accessories </h4>
            </div>

            <div class="sp-2">
                <h4> 100 Items </h4>
                <div class="circ">
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.5 0H6.5L6.5 12H4.5V14L6.5 14V16L8.5 16V14H10.5V12H8.5L8.5 0ZM12.5 10V12H10.5V10H12.5ZM12.5 10V8H14.5L14.5 10H12.5ZM2.5 10V12L4.5 12V10L2.5 10ZM2.5 10L2.5 8H0.5L0.5 10H2.5Z"
                            fill="black" />
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <div class="brand-ord t1">
        <div class="box-det">
            <div class="sp-1">
                <svg width="30" height="12" viewBox="0 0 30 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M29.9997 0.75L8.05219 10.095C6.23219 10.8658 4.70386 11.2513 3.46719 11.2513C2.06719 11.2513 1.05178 10.7608 0.420942 9.78C0.0251088 9.15 -0.0915578 8.35083 0.0709422 7.3825C0.234275 6.41417 0.665942 5.38167 1.36594 4.285C1.94928 3.3975 2.90636 2.23083 4.23719 0.785C3.7852 1.4956 3.45405 2.27616 3.25719 3.095C2.90719 4.58833 3.22219 5.685 4.20219 6.385C4.66886 6.71167 5.31053 6.875 6.12719 6.875C6.77969 6.875 7.51469 6.77 8.33219 6.56L29.9997 0.75Z"
                        fill="black" />
                </svg>
                <h4> Nike </h4>
            </div>

            <div class="sp-2">
                <h4> 100 Items </h4>
                <div class="circ">
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.5 0H6.5L6.5 12H4.5V14L6.5 14V16L8.5 16V14H10.5V12H8.5L8.5 0ZM12.5 10V12H10.5V10H12.5ZM12.5 10V8H14.5L14.5 10H12.5ZM2.5 10V12L4.5 12V10L2.5 10ZM2.5 10L2.5 8H0.5L0.5 10H2.5Z"
                            fill="black" />
                    </svg>
                </div>
            </div>
        </div>

        <div class="box-det">
            <div class="sp-1">
                <svg width="30" height="20" viewBox="0 0 30 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M30 19.4188L19.1287 0.581299L13.305 3.94005L22.2362 19.4188H30ZM19.6413 19.4188L12.4613 6.98755L6.6375 10.3463L11.8775 19.4188H19.6413ZM5.8225 13.4038L9.2925 19.4188H1.52875L0 16.7625L5.8225 13.4038Z"
                        fill="black" />
                </svg>
                <h4> Adidas </h4>
            </div>

            <div class="sp-2">
                <h4> 100 Items </h4>
                <div class="circ">
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.5 0H6.5L6.5 12H4.5V14L6.5 14V16L8.5 16V14H10.5V12H8.5L8.5 0ZM12.5 10V12H10.5V10H12.5ZM12.5 10V8H14.5L14.5 10H12.5ZM2.5 10V12L4.5 12V10L2.5 10ZM2.5 10L2.5 8H0.5L0.5 10H2.5Z"
                            fill="black" />
                    </svg>
                </div>
            </div>
        </div>

        <div class="box-det">
            <div class="sp-1">
                <svg width="24" height="8" viewBox="0 0 24 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M8.814 0.0269775C8.2 0.0269775 7.701 0.524977 7.701 1.13998V6.85998C7.701 7.15516 7.81826 7.43826 8.02699 7.64699C8.23572 7.85571 8.51881 7.97298 8.814 7.97298C9.10919 7.97298 9.39228 7.85571 9.60101 7.64699C9.80974 7.43826 9.927 7.15516 9.927 6.85998V1.13998C9.927 0.525977 9.429 0.0269775 8.814 0.0269775ZM5.965 0.104977H1.113C0.817814 0.104977 0.534718 0.222239 0.32599 0.430967C0.117262 0.639695 3.317e-08 0.922792 3.317e-08 1.21798C3.317e-08 1.51316 0.117262 1.79626 0.32599 2.00499C0.534718 2.21371 0.817814 2.33098 1.113 2.33098H5.965C6.26019 2.33098 6.54328 2.21371 6.75201 2.00499C6.96074 1.79626 7.078 1.51316 7.078 1.21798C7.078 0.922792 6.96074 0.639695 6.75201 0.430967C6.54328 0.222239 6.26019 0.104977 5.965 0.104977ZM23.376 4.52198L21.03 0.704977C20.755 0.260977 20.38 0.046977 19.905 0.046977C19.417 0.046977 19.001 0.275977 18.743 0.704977L16.028 5.20498C15.842 5.51298 15.628 5.64098 15.275 5.64098H13.256C13.2183 5.64237 13.1807 5.63599 13.1455 5.62222C13.1104 5.60845 13.0785 5.5876 13.0517 5.56096C13.025 5.53432 13.004 5.50246 12.9901 5.46737C12.9763 5.43227 12.9697 5.3947 12.971 5.35698V1.10198C12.971 0.488977 12.474 0.0269775 11.861 0.0269775C11.248 0.0269775 10.751 0.489977 10.751 1.10298V6.31798C10.751 7.10198 11.525 7.86198 12.295 7.86198H16.359C16.935 7.86198 17.322 7.44198 17.651 6.86598L19.765 3.23898C19.783 3.19898 19.818 3.14798 19.858 3.14798C19.901 3.14798 19.928 3.19898 19.949 3.23598L21.333 5.45598C21.391 5.54998 21.402 5.59698 21.365 5.68098C21.332 5.75798 21.257 5.77398 21.135 5.77398H19.192C18.9151 5.77398 18.6496 5.88397 18.4538 6.07976C18.258 6.27555 18.148 6.54109 18.148 6.81798C18.148 7.09486 18.258 7.36041 18.4538 7.5562C18.6496 7.75198 18.9151 7.86198 19.192 7.86198H22.362C23.132 7.86198 24 7.12798 24 6.16898C24 5.56098 23.883 5.34698 23.376 4.52198ZM5.431 2.95398H1.113C0.498 2.95398 0 3.45198 0 4.06698V6.78198C0 7.07716 0.117262 7.36026 0.32599 7.56899C0.534718 7.77771 0.817814 7.89498 1.113 7.89498C1.40819 7.89498 1.69128 7.77771 1.90001 7.56899C2.10874 7.36026 2.226 7.07716 2.226 6.78198V5.51398C2.226 5.32898 2.376 5.17998 2.56 5.17998H5.43C5.72519 5.17998 6.00828 5.06271 6.21701 4.85399C6.42574 4.64526 6.543 4.36216 6.543 4.06698C6.543 3.77179 6.42574 3.4887 6.21701 3.27997C6.00828 3.07124 5.72519 2.95398 5.43 2.95398"
                        fill="black" />
                </svg>
                <h4> Fila </h4>
            </div>

            <div class="sp-2">
                <h4> 100 Items </h4>
                <div class="circ">
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.5 0H6.5L6.5 12H4.5V14L6.5 14V16L8.5 16V14H10.5V12H8.5L8.5 0ZM12.5 10V12H10.5V10H12.5ZM12.5 10V8H14.5L14.5 10H12.5ZM2.5 10V12L4.5 12V10L2.5 10ZM2.5 10L2.5 8H0.5L0.5 10H2.5Z"
                            fill="black" />
                    </svg>
                </div>
            </div>
        </div>

        <div class="box-det">
            <div class="sp-1">
                <svg width="30" height="24" viewBox="0 0 30 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M29.8064 0.760056C29.2852 0.0938055 28.3739 0.627556 27.9727 0.860056C25.1177 2.54256 24.6964 5.50506 23.7014 7.20631C22.9189 8.56881 21.6364 9.56881 20.4764 9.64631C19.6189 9.70756 18.6889 9.54131 17.7664 9.14006C15.5077 8.16381 14.2914 6.90006 13.9952 6.67756C13.3864 6.21506 8.70768 1.65881 4.89518 1.47256C4.89518 1.47256 4.43018 0.535056 4.31393 0.518806C4.03643 0.487556 3.75143 1.08256 3.54393 1.14506C3.35643 1.21131 3.02768 0.505056 2.83768 0.536306C2.64643 0.561306 2.46018 1.26881 2.08768 1.63256C1.81268 1.89881 1.48018 1.88256 1.29143 2.21131C1.22643 2.33131 1.24893 2.54256 1.17518 2.73631C1.01643 3.13631 0.486426 3.17881 0.481426 3.60756C0.481426 4.08381 0.927676 4.17506 1.31768 4.50756C1.62768 4.77256 1.64893 4.96006 2.01018 5.08381C2.33268 5.19381 2.80018 4.85006 3.21518 4.97381C3.56143 5.07506 3.89393 5.14881 3.96768 5.50256C4.03518 5.82256 3.96768 6.32506 3.54268 6.26881C3.40268 6.25006 2.79518 6.05131 2.04518 6.13131C1.13893 6.22756 0.103926 6.51756 0.00267607 7.51881C-0.0485739 8.07756 0.645176 8.73131 1.32143 8.60131C1.78518 8.51256 1.56643 7.96881 1.82018 7.70631C2.15393 7.36881 4.03518 8.88631 5.78518 8.88631C6.52643 8.88631 7.07393 8.69881 7.61893 8.13006C7.66893 8.09381 7.73518 8.00256 7.81268 7.99256C7.89986 8.01432 7.98242 8.05158 8.05643 8.10256C9.47018 9.22381 10.5364 11.4776 15.7189 11.5038C16.4464 11.5126 17.2814 11.8526 17.9639 12.4751C18.5639 13.0163 18.9189 13.8813 19.2602 14.7563C19.7827 16.0726 20.7114 17.3426 22.1252 18.7601C22.2002 18.8451 23.3627 19.7351 23.4502 19.8013C23.4652 19.8138 23.5552 20.0101 23.5164 20.1201C23.4914 20.9826 23.3627 23.4576 25.2227 23.5613C25.6802 23.5863 25.5664 23.2726 25.5664 23.0488C25.5602 22.6226 25.4852 22.1926 25.7077 21.7488C26.0239 21.1513 25.0502 20.8626 25.0714 19.5538C25.0952 18.5738 24.2652 18.7401 23.8414 17.9913C23.6039 17.5626 23.3814 17.3263 23.4039 16.8088C23.4952 13.8338 22.7577 11.8738 22.3977 11.4001C22.1139 11.0326 21.8689 10.8963 22.1389 10.7251C23.6889 9.70631 24.0452 8.75756 24.0452 8.75756C24.8702 6.83131 25.6152 5.07631 26.6389 4.29506C26.8464 4.14506 27.3752 3.74506 27.7039 3.59506C28.6577 3.14256 29.1702 2.87256 29.4389 2.61006C29.8839 2.18881 30.2327 1.29381 29.8064 0.760056Z"
                        fill="black" />
                </svg>
                <h4> PUMA </h4>
            </div>

            <div class="sp-2">
                <h4> 100 Items </h4>
                <div class="circ">
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.5 0H6.5L6.5 12H4.5V14L6.5 14V16L8.5 16V14H10.5V12H8.5L8.5 0ZM12.5 10V12H10.5V10H12.5ZM12.5 10V8H14.5L14.5 10H12.5ZM2.5 10V12L4.5 12V10L2.5 10ZM2.5 10L2.5 8H0.5L0.5 10H2.5Z"
                            fill="black" />
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <div class="items-order-list">
        <div class="item-det">
            <div class="sp-1">
                <h4> Nike </h4>
                <svg width="23" height="8" viewBox="0 0 23 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M19.1943 0.46444L22.3763 3.64642C22.5715 3.84168 22.5715 4.15826 22.3763 4.35353L19.1943 7.53551C18.999 7.73077 18.6824 7.73077 18.4872 7.53551C18.2919 7.34025 18.2919 7.02366 18.4872 6.8284L20.8156 4.49997H0V3.49997H20.8156L18.4872 1.17155C18.2919 0.976284 18.2919 0.659702 18.4872 0.46444C18.6824 0.269178 18.999 0.269178 19.1943 0.46444Z"
                        fill="white" />
                </svg>
                <h4> Cloths </h4>
            </div>
            <div class="img-text">
                <img src="~/img/ado.jpg" alt="">
                <div class="txt-1">
                    <h4> Nike Style 101 </h4>
                    <h5> $170.5 </h5>
                </div>
            </div>
            <div class="ord-buy-qty">
                <button class="buy">
                    <h4>
                        Buy
                    </h4>
                </button>
                <div class="ord-qty">
                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M4.58333 5.41667H0V4.58333H4.58333V0H5.41667V4.58333H10V5.41667H5.41667V10H4.58333V5.41667Z"
                            fill="black" />
                    </svg>
                    <h5> 1 </h5>
                    <svg width="10" height="1" viewBox="0 0 10 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10 1L0 1L0 0L10 0V1Z" fill="black" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="item-det">
            <div class="sp-1">
                <h4> Nike </h4>
                <svg width="23" height="8" viewBox="0 0 23 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M19.1943 0.46444L22.3763 3.64642C22.5715 3.84168 22.5715 4.15826 22.3763 4.35353L19.1943 7.53551C18.999 7.73077 18.6824 7.73077 18.4872 7.53551C18.2919 7.34025 18.2919 7.02366 18.4872 6.8284L20.8156 4.49997H0V3.49997H20.8156L18.4872 1.17155C18.2919 0.976284 18.2919 0.659702 18.4872 0.46444C18.6824 0.269178 18.999 0.269178 19.1943 0.46444Z"
                        fill="white" />
                </svg>
                <h4> Cloths </h4>
            </div>
            <div class="img-text">
                <img src="~/img/ado.jpg" alt="">
                <div class="txt-1">
                    <h4> Nike Style 101 </h4>
                    <h5> $170.5 </h5>
                </div>
            </div>
            <div class="ord-buy-qty">
                <button class="buy">
                    <h4>
                        Buy
                    </h4>
                </button>
                <div class="ord-qty">
                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M4.58333 5.41667H0V4.58333H4.58333V0H5.41667V4.58333H10V5.41667H5.41667V10H4.58333V5.41667Z"
                            fill="black" />
                    </svg>
                    <h5> 1 </h5>
                    <svg width="10" height="1" viewBox="0 0 10 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10 1L0 1L0 0L10 0V1Z" fill="black" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="item-det">
            <div class="sp-1">
                <h4> Nike </h4>
                <svg width="23" height="8" viewBox="0 0 23 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M19.1943 0.46444L22.3763 3.64642C22.5715 3.84168 22.5715 4.15826 22.3763 4.35353L19.1943 7.53551C18.999 7.73077 18.6824 7.73077 18.4872 7.53551C18.2919 7.34025 18.2919 7.02366 18.4872 6.8284L20.8156 4.49997H0V3.49997H20.8156L18.4872 1.17155C18.2919 0.976284 18.2919 0.659702 18.4872 0.46444C18.6824 0.269178 18.999 0.269178 19.1943 0.46444Z"
                        fill="white" />
                </svg>
                <h4> Cloths </h4>
            </div>
            <div class="img-text">
                <img src="~/img/ado.jpg" alt="">
                <div class="txt-1">
                    <h4> Nike Style 101 </h4>
                    <h5> $170.5 </h5>
                </div>
            </div>
            <div class="ord-buy-qty">
                <button class="buy">
                    <h4>
                        Buy
                    </h4>
                </button>
                <div class="ord-qty">
                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M4.58333 5.41667H0V4.58333H4.58333V0H5.41667V4.58333H10V5.41667H5.41667V10H4.58333V5.41667Z"
                            fill="black" />
                    </svg>
                    <h5> 1 </h5>
                    <svg width="10" height="1" viewBox="0 0 10 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10 1L0 1L0 0L10 0V1Z" fill="black" />
                    </svg>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="orders-table">
    <div class="title">
        <h3>
            TABLE
        </h3>
        <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M0.5625 19.3125H22.4375V20.875H0.5625V19.3125ZM18.8438 6.03125C19.4688 5.40625 19.4688 4.46875 18.8438 3.84375L16.0312 1.03125C15.4062 0.40625 14.4688 0.40625 13.8438 1.03125L2.125 12.75V17.75H7.125L18.8438 6.03125ZM14.9375 2.125L17.75 4.9375L15.4062 7.28125L12.5938 4.46875L14.9375 2.125ZM3.6875 16.1875V13.375L11.5 5.5625L14.3125 8.375L6.5 16.1875H3.6875Z"
                fill="white" />
        </svg>
    </div>
    <div class="list-orders">
        <div class="ord-item">
            <div class="id_">
                <h5> 1 </h5>
            </div>
            <div class="nm-qty">
                <h5 class="name"> Nike Style 105</h5>
                <h6 class="qty"> x2 </h6>
            </div>
            <div class="price">
                <h5> $170.96 </h5>
            </div>
        </div>
        <div class="ord-item">
            <div class="id_">
                <h5> 2 </h5>
            </div>
            <div class="nm-qty">
                <h5 class="name"> Nike Style 105</h5>
                <h6 class="qty"> x2 </h6>
            </div>
            <div class="price">
                <h5> $170.96 </h5>
            </div>
        </div>
        <div class="ord-item">
            <div class="id_">
                <h5> 3 </h5>
            </div>
            <div class="nm-qty">
                <h5 class="name"> Nike Style 105</h5>
                <h6 class="qty"> x2 </h6>
            </div>
            <div class="price">
                <h5> $170.96 </h5>
            </div>
        </div>
    </div>

    <div class="place-orders-comp">
        <div class="sub-pricing">
            <div class="f1">
                <h3> Subtotal </h3>
                <h5> $170.96 </h5>
            </div>
            <div class="f1">
                <h3> Tax </h3>
                <h5>
                    $17.096
                </h5>
            </div>
        </div>
        <div class="total-pricing">
            <div class="f1">
                <h1> Total </h1>
                <h5> $188.095 </h5>
            </div>
        </div>
        <div class="complete-order">
            <div class="qr-code">
                <h5> Print Receipt </h5>
                <svg onclick="printReceipt()" width="20" height="22" viewBox="0 0 20 22" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0 21.9626V0.0375977L1.5875 1.2401L3.27 0.0388476L4.9525 1.2401L6.635 0.0388476L8.3175 1.2401L10 0.0388476L11.6825 1.2401L13.365 0.0388476L15.0475 1.2401L16.73 0.0388476L18.4138 1.2401L20 0.0388476V21.9613L18.4125 20.7601L16.73 21.9613L15.0475 20.7601L13.365 21.9613L11.6825 20.7601L10 21.9613L8.3175 20.7601L6.635 21.9613L4.9525 20.7601L3.27 21.9613L1.58625 20.7601L0 21.9626ZM3.125 15.8563H16.875V14.6063H3.125V15.8563ZM3.125 11.6251H16.875V10.3751H3.125V11.6251ZM3.125 7.3951H16.875V6.1451H3.125V7.3951ZM1.25 19.8751H18.75V2.1251H1.25V19.8751Z"
                        fill="white" />
                </svg>

            </div>
            <button class="order-place">
                <h1>
                    PLACE ORDER
                </h1>
            </button>
        </div>
    </div>

    <div class="order-hide" style="display: none;">
        <div class="title">
            <h3 style="text-align: center;"> Order Receipt </h3>
        </div>
        <div class="list-orders">
            <div class="ord-item"
                style="display: flex; justify-content: space-between; border-bottom: 1px dashed #000; padding: 5px;">
                <div class="id_">
                    <h5>1</h5>
                </div>
                <div class="nm-qty">
                    <h5 class="name">Nike Style 105</h5>
                    <h6 class="qty">x2</h6>
                </div>
                <div class="price">
                    <h5>$170.96</h5>
                </div>
            </div>
            <div class="ord-item"
                style="display: flex; justify-content: space-between; border-bottom: 1px dashed #000; padding: 5px;">
                <div class="id_">
                    <h5>2</h5>
                </div>
                <div class="nm-qty">
                    <h5 class="name">Adidas Style 202</h5>
                    <h6 class="qty">x1</h6>
                </div>
                <div class="price">
                    <h5>$150.00</h5>
                </div>
            </div>
            <div class="ord-item"
                style="display: flex; justify-content: space-between; border-bottom: 1px dashed #000; padding: 5px;">
                <div class="id_">
                    <h5>3</h5>
                </div>
                <div class="nm-qty">
                    <h5 class="name">PUMA Style 303</h5>
                    <h6 class="qty">x3</h6>
                </div>
                <div class="price">
                    <h5>$120.00</h5>
                </div>
            </div>
        </div>
        <div class="place-orders-comp" style="padding-top: 10px;">
            <div class="sub-pricing" style="display: flex; justify-content: space-between; padding: 5px;">
                <div class="f1">
                    <h3>Subtotal</h3>
                    <h4>$170.96</h4>
                </div>
                <div class="f1">
                    <h3>Tax</h3>
                    <h4>$17.10</h4>
                </div>
            </div>
            <div class="total-pricing" style="padding: 5px; border-top: 2px solid #000;">
                <div class="f1">
                    <h1>Total</h1>
                    <h3>$188.06</h3>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    function printReceipt() {
        const printContent = document.querySelector('.order-hide').innerHTML;
        const newWindow = window.open('', '', 'height=400,width=600');
        newWindow.document.write('<html><head><title>Receipt</title><style>body{font-family: monospace;}</style></head><body>');
    @* newWindow.document.write('<html><head><title>Receipt</title></head><body>'); *@
            newWindow.document.write(printContent);
        newWindow.document.write('</body></html>');
        newWindow.document.close();
        newWindow.print();
    }
</script>