@{
    ViewData["Title"] = "Home Page";
}

<div class="gravity-comp">

    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="sp-1">
        <h1> GRAVITY WEARS </h1>
    </div>
    <div class="sp-1">
        <h1> GRAVITY WEARS </h1>
    </div>
    <div class="sp-1">
        <h1> GRAVITY WEARS </h1>
    </div>
    <div class="sp-1">
        <h1> GRAVITY WEARS </h1>
    </div>
    <div class="sp-1">
        <h1> GRAVITY WEARS </h1>
    </div>
    <div class="sp-1">
        <h1> GRAVITY WEARS </h1>
    </div>
    <div class="sp-1">
        <h1> GRAVITY WEARS </h1>
    </div>
    <div class="sp-1">
        <h1> GRAVITY WEARS </h1>
    </div>
    <div class="sp-1">
        <h1> GRAVITY WEARS </h1>
    </div>
    @* <div class="sp-1">
    <h1> GRAVITY WEARS </h1>
    </div> *@
</div>